@using MobileWeb.Models.DTOs

@model ChangePasswordDto

@{
	ViewData["Title"] = "Đổi mật khẩu";
}

<div class="container d-block justify-content-center w-50 mb-4 pt-3">
	<h2 class="text-center text-success mb-4">Đổi mật khẩu</h2>

	<form asp-action="ChangePassword">
		<input asp-for="UserName" type="hidden" value="@User.Identity?.Name" />

		<div class="form-floating mb-3">
			<input asp-for="CurrentPassword" class="form-control" placeholder="..." />
			<label asp-for="CurrentPassword" class="fw-bold"></label>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="NewPassword" class="form-control" placeholder="..." />
			<label asp-for="NewPassword" class="fw-bold"></label>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="ConfirmNewPassword" class="form-control" placeholder="..." />
			<label asp-for="ConfirmNewPassword" class="fw-bold"></label>
		</div>

		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="form-group mt-1 mb-4">
			<input type="submit" value="Xác nhận" class="border border-3 border-success btn btn-outline-success fw-bold w-100" />
		</div>

		<a asp-controller="User" asp-action="Index" asp-route-uname="@User.Identity?.Name" class="text-decoration-none">
			<i class="fas fa-arrow-left me-2"></i>
			Quay lại
		</a>
	</form>
</div>

